$clr-text-reaction: hsl(0, 100%, 67%);
$clr-text-reaction--clear: hsla(0, 100%, 67%, 0.05);
$clr-text-memory: hsl(39, 100%, 56%);
$clr-text-memory--clear: hsla(39, 100%, 56%, 0.05);
$clr-text-verbal: hsl(166, 100%, 37%);
$clr-text-verbal--clear: hsla(166, 100%, 37%, 0.05);
$clr-text-visual: hsl(234, 85%, 45%);
$clr-text-visual--clear: hsl(234, 85%, 45%, 0.05);
$clr-text-primary: hsl(254, 100%, 89%);

$clr-bg-grad-1-1: hsl(252, 100%, 67%);
$clr-bg-sec-1-2: hsl(241, 81%, 54%);

$clr-bg-grad-2-1: hsla(256, 72%, 46%, 1);
$clr-bg-grad-2-2: hsla(241, 72%, 46%, 0);

$clr-bg-pri: hsl(0, 0%, 100%);
$clr-bg-duo: hsl(221, 100%, 96%);
$clr-bg-tri: hsl(241, 100%, 89%);
$clr-bg-tet: hsl(224, 30%, 27%);

$clr-box-shadow: hsl(222deg 58.31% 91.56%);
