@font-face {
  font-family: "Hanken Grotesk";
  src: url(../fonts/HankenGrotesk-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: block;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url(../fonts/HankenGrotesk-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url(../fonts/HankenGrotesk-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-display: block;
}
